.container {
  max-width: 100%;
  margin: 50px auto;
  background-color: brown;
  color: black;
  padding: 20px;
}

@media (min-width: 1025px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}
